<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>BidMeUp</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BidMeUp</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
             <li class="active"><a href="#">Home</a></li>
            <li><a href="http://www.slideshare.net/secret/7hlmYfXqBZFnBd" target="_blank">Slides</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<br>
<br><br>
      <div class="container">
         <div class="starter-template">
            <h2>Select Your Product</h2>
         </div>
      </div>
      <div class="container">
         <table class="table">
            <tbody>
               <tr></tr>
               <tr>
                  <th>Select a Category:</th>
                  <th>Select a Subcategory:</th>
                  <th>Select a Brand:</th>
                  <th>Select a Product:</th>
                  <th>Average Retail Price</th>
                  <th>Minimum Sale Price</th>
               </tr>
               <tr>
                  <td align="left">
                     <select>                       
                        <option value= "#" > {{Category}} </option>
                     </select>
                  </td>

                  <td align="left">
                     <form action="/full_input_brand" method="get">
                        <select name='Subcategory'>
                           {% for Subcategory in Subcategories %}                        
                           <option value= "{{ Subcategory }}" > {{Subcategory}} </option>
                           {% endfor %}
                        </select>
                        <button type="submit">Select</button>
                     </form>
                  </td>
                  
                  <td align="left">
                     <select>
                        <option value="#"> - </option>
                     </select>
                  </td>
                  <td align="left">
                     <select>
                        <option value="#"> - </option>
                     </select>
                  </td>
                  <td> - </td>
                  <td> - </td>
               </tr>
            </tbody>
         </table>
      </div>
   </body>
</html>

